<footer class="project-footer">
    <div class="footer-content">
        <a href="../index.html" class="footer-profile">
            <img src="../assets/images/profile/profile.jpg" height="60" alt="Aliza"><br>
            <span>Aliza</span>
        </a>
        <p>© 2024 Aliza. All rights reserved.</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/alizam" target="_blank" rel="noopener noreferrer" class="linkedin-link">
                <i class="fab fa-linkedin"></i> www.linkedin.com/in/alizam
            </a>
        </div>
    </div>
</footer> 